# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environments
# ==============================

venv/
venv311/
.env
.venv/

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# Raw / Large Data
# ==============================

data/raw/
data/processed/

*.csv
*.parquet
*.zip

# ==============================
# IDE / OS
# ==============================

.vscode/
.idea/
.DS_Store
Thumbs.db

# ==============================
# Python / ML Cache
# ==============================

*.log

# ==============================
# Temporary files
# ==============================

*.tmp
*.temp